:root {
  --dark: #141414;
  --white: #f5f5f5;
  --main: #f7720f;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: var(--dark);
}

main {
  height: 100%;
  width: 100%;
  max-width: 600px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--white);
  padding: 10% 0;
}

.game {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.game__title {
  padding-bottom: 20px;
  color: var(--white);
  font-size: 18px;
}

.game__buttons {
  display: flex;
  justify-content: space-between;
  height: 80%;
  width: 100%;
  max-width: 300px;
}

.game__button,
.reset {
  width: 70px;
  height: 70px;
  color: var(--white);
  background-color: var(--dark);
  border: 3px solid var(--main);
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s background-color;
}

.game__button:hover,
.reset:hover {
  background-color: var(--main);
}

.result,
.score {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 20px;
  color: var(--white);
}

.score {
  text-align: center;
}

.result__res {
  color: var(--main);
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.result__play {
  margin-bottom: 4px;
}

.reset {
  height: 40px;
  width: 120px;
}
