:root {
  --dark: #141414;
  --white: #f5f5f5;
  --main: #f7720f;
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  background-color: var(--dark);
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--white);
  padding: 10% 0;
}

.game {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.game__title {
  padding-bottom: 20px;
  color: var(--white);
}

.game__buttons {
  display: flex;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.game__button {
  width: 70px;
  height: 70px;
  color: var(--dark);
  background-color: var(--white);
  border: none;
}

.result {
  border: 2px solid aquamarine;
  width: 80%;
  margin: 20px;
  color: var(--white);
}
